<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
  #drawer
  class="sidenav"
  fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false"
  >
  <mat-toolbar>
  <span class="d-flex align-items-center gap-2">
  <mat-icon>note_alt</mat-icon>
  e-Agenda
  </span>
  </mat-toolbar>
  <mat-nav-list>

    <ng-container *ngIf="usuarioAutenticado">
      <a *ngFor="let link of authLinks" mat-list-item [routerLink]="link.rota">
        <mat-icon matListItemIcon>{{ link.icone }}</mat-icon>
        {{ link.titulo }}
      </a>
    </ng-container>

    <ng-container *ngIf="!usuarioAutenticado">
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.rota">
        <mat-icon matListItemIcon>{{ link.icone }}</mat-icon>
        {{ link.titulo }}
      </a>
    </ng-container>

  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
  <button
  *ngIf="isHandset$ | async"
  mat-icon-button
  aria-label="Ativar barra lateral"
  type="button"
  (click)="drawer.toggle()"
  >
  <mat-icon aria-label="Ícone ativador da barra lateral">menu</mat-icon>
  </button>

  <span
  *ngIf="usuarioAutenticado"
  class="d-flex align-items-center gap-3 ms-auto">

  <span>Seja bem vindo, {{usuarioAutenticado.nome}}!</span>

    <button (click)="logoutAcionado()" mat-stroked-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </span>

  <span
  *ngIf="isHandset$ | async"
  class="d-flex align-items-center gap-2 ms-auto"
  >
  <mat-icon>note_alt</mat-icon>
  e-Agenda
  </span>
  </mat-toolbar>

  <ng-content></ng-content>

  </mat-sidenav-content>
  </mat-sidenav-container>
